<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.Chess_ConsortiumDatabaseConnection"
            connectionString="Data Source=DESKTOP-ED4GQK7;Initial Catalog=&quot;Chess Consortium&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>